<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Recipe Index </title>
		<meta charset="UTF-8">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
		</script>
		<script src="//apis.google.com/js/platform.js?onload=start">
		</script>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
			.flash{
				font - weight: bold;
				text - decoration: underline;
				color:  # f94102;
			}
			# sub {
				background - color:  # 02f9bc;
				border - color:  # bc02f9;
				border - width: 1px;
				border - style: solid;
			}
			hr{
	      border: 1px solid;
				color: #bc02f9;
      }
			img{
				max-width: 200px;
				max-height: 200px;
				border: 1px solid;
				border-color: #bc02f9;
			}
			body {
				background-color: #f9bc02;
			}
			textarea {
				width: 300px;
				height: 150px;
			}
			input {
				width: 200px;
			}
		</style>
	</head>
	<body>
		<!-- GOOGLE PLUS SIGN IN-->
		<div class="container">
			<div id="header" class="text-center">
				<div class="row">
					<div id="navigation" class="col-md-1">
						<a href="{{ url_for('showRecipes') }}">All Recipes</a>
					</div>
					{% if 'username' in session %}
						<div id="navigation" class="col-md-1">
							<a href="{{ url_for('showRecipes', user_id=session['user_id']) }}">My Recipes</a>
							<!--Josh add get param-->
						</div>
						<div id="navigation" class="col-md-1">
							<a href="{{ url_for('addRecipe') }}">Add Recipe</a>
						</div>
						<div class="col-md-1">
						</div>
					{% else %}
						<div class="col-md-3">
						</div>
					{% endif %}
					<div class="flash col-md-4 text-center">
						{% with messages=get_flashed_messages() %}
							{% if messages %}
					    	{% for message in messages %}
					      	{{ message }}
					    	{% endfor %}
					    {% endif %}
					  {% endwith %}
					</div>
					<div id="login" class="col-md-4 text-right">
						{% if 'username' not in session %}
							<span class="g-signin"
								data-scope="openid email"
								data-clientid="548267792426-7ooh9dcavn8p2bfs0g81r4mgktj04573.apps.googleusercontent.com"
								data-redirecturi="postmessage"
								data-accesstype="offline"
								data-cookiepolicy="single_host_origin"
								data-callback="signInCallback"
								data-approvalprompt="force">
							</span>
							<script>
							function signInCallback(authResult) {
								if (authResult['code']) {
									$('#signinButton').attr('style', 'display: none');
									$.ajax({
										type: 'POST',
										url: '/gconnect?state={{ STATE }}',
										processData: false,
										data: authResult['code'],
										contentType: 'application/octet-stream; charset=utf-8',
										success: function(result) {
											if (result) {
												$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
											 setTimeout(function() {
												window.location.href="/recipes";
											}, 0);
										} else if (authResult['error']) {
									console.log('There was an error: ' + authResult['error']);
								} else {
											$('#result').html('Failed to make a server-side call. Check your configuration and console.');
											}
										}
								}); } }
							</script>
						{% else %}
							Logged in as {{ session['username'] }}
							<br>
							<a href="{{ url_for('disconnect') }}">Log Out</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="result"></div>

			<!--END GOOGLE PLUS SIGN IN -->
			<div id="status">
			</div>
			<hr>
			{% block content %}
			{% endblock %}
			<div class="row">
				<div class="col-md-12">
					<br>
				</div>
			</div>
		</div>
	</body>
</html>
