{% extends "base.html" %}
{% block content %}
    <div class="col-md-4">
    </div>
    <div class="text-center col-md-4" id="sub">
        <div class="row">
            <h1>Edit a Comment</h1>
        </div>
        <br>
        <form method="POST">
            <div class="row">
                Comment:
                <textarea name="comment">{{ comment.comment }}</textarea>
            </div>
            <br>
            <div class="row">
                <input type="submit">
                <br><br>
            </div>
        </form>
    </div>
{% endblock %}
