{% extends "base.html" %}
{% block content %}
    <div class="col-md-4">
    </div>
    <div class="text-center col-md-4" id="sub">
        <div class="row">
            <h1>Delete Recipe</h1>
        </div>
        <br>
        <form method="POST">
            <div class="row">
                Are you sure you'd like to delete {{ recipe.name }}?
            </div>
            <br>
            <div class="row">
                <input type="submit" value="Yes" name="delete">
                <input type="submit" value="No" name="delete">
                <br><br>
            </div>
        </form>
    </div>
{% endblock %}
